<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Personal website of Ahmetcan ÖZCAN">
  <meta name="robot" content="index, follow">
  <%= htmlWebpackPlugin.tags.headTags %>
  <title> Ahmetcan ÖZCAN </title>
  <link rel="stylesheet" href="/assets/load/load.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <script src="/assets/load/load.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <script src="https://kit.fontawesome.com/ca4d981e2c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="mbg" class="m-bg">
    <div data-depth="0.6" id='stars'></div>
    <div data-depth="0.6" id='stars2'></div>
    <div data-depth="0.6" id='stars3'></div>
  </div>
  <%= require('html-loader!./parts/loading.html') %>

  <%= require('html-loader!./parts/header.html') %>
  <%= require('html-loader!./parts/bio.html') %>

  <%= require('html-loader!./parts/works.html') %>
  <%= require('html-loader!./parts/skills.html') %>

  <%= require('html-loader!./parts/contact.html') %>

  <%= require('html-loader!./parts/menu.html') %>

  <%= require('html-loader!./parts/footer.html') %>

</body>

</html>